.body{
    background-color: rgb(213, 224, 213);
}
.center2{
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMcDUGn2rITNGyVgXX2lDh_TjuJFn7eeviI9OBWAwkkKff2LZl);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
    color: white;

}
.green{
    background-color: rgb(66, 104, 66);
    color: white;
    padding: 15px;
}
.div1{
  display: grid;
  grid-template-columns: repeat(7,1fr);  
}
.whitetext{
    font-size: larger;
}
.boldwhite{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
}
.button{
padding: 24px;
width: 25%;
background-color: grey;
border-radius: 15%;

}
.pic1{
    width: 5%;
}
.calls{  
 background-color: antiquewhite;
 box-shadow: inset;
 width: 50%;
}


.center1{
    text-align: center; 
    border: solid black 1px;
    padding: 20px;
    font-size: x-large;
}
.div2{
    display: flex;
    gap: 10%;
}
.boldblack{
    font-size: xx-large;
}
.greentext{
    color: rgb(57, 88, 57);
}
.graytext{
color: gray;
}
.greenbutton{
    padding: 24px;
width: 25%;
background-color: rgb(57, 88, 57);
border-radius: 15%;
}
.whitebutton{
    padding: 24px;
width: 25%;
background-color: white;
border-radius: 15%; 

}
.lightgreen{
    background-color: rgb(191, 218, 223);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
}
.center{
    text-align: center;
}
.div3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}
.img1{
    border-radius: 10%;
    width: 60%;
    height: 60%;
}
.div4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
image1{
    width: 20%;
    height: 20%;
}
.div5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image1{
height: 50%;
width: 30%;
}
.div6{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8%;
}
.image4{
    width: 70%;
}
.image2{
    width: 150%;
    height: 45%;
}
.div7{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.image3{
    width: 80%;
    border-radius: 5%;
}
.image5{
    width: 60%;
    height: 20%;
}
.deepbluediv{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(13, 13, 68);
    color: white;
    padding: 60px;
}
.image6{
    height: 20%;
    gap: 8%;
}
.div8{
    width: 150%;
    height: 50%;
    max-height: fit-content;
}
@media screen and (min-width:250px) and (max-width:990px) { 
.div1{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}
.button{
    padding: 18px;
    width: 15%;
    background-color: grey;
    border-radius: 15%;
}
.div2{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}
.div3{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3%;
}
.image2{
    width: 90%;
    height: 45%;
}
.center2{
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMcDUGn2rITNGyVgXX2lDh_TjuJFn7eeviI9OBWAwkkKff2LZl);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    color: white;
    

}
.div4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.div4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


}

    





